@charset "UTF-8";

@media only screen and (max-width: 800px) {

    * {
        cursor: none;
    }

    /* header */

    header nav {
        display: none;
    }

    header section.responsive {
        width: 40px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 999;
    }

    header section.responsive hr {
        width: 80%;
        height: 2px;
        background-color: black;
        color: black;
        outline: none;
        border: none;
        transition-duration: .8s;
    }

    header section.responsive hr.b2 {
        transition-duration: .2s;
    }

    header section.responsive hr.b1active {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    header section.responsive hr.b2active {
        opacity: 0;
    }

    header section.responsive hr.b3active {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    header section.responsive aside {
        position: relative;
    }

    header section.responsive span.h1 {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* menu */

    section.menu {
        position: fixed;
        inset: 0;
        left: 100%;
        transition-duration: .6s;
        z-index: 888;
        background-color: #CCAA81;
        width: 40vw;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
        border-radius: 15px 0px 0px 15px;
    }


    section.menuactive {
        position: fixed;
        inset: 0;
        left: calc(100% - 40vw);
    }

    body {
        overflow-x: hidden;
    }

    section.menu menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: calc(50%);
    }

    section.menu menu a {
        text-decoration: none;
        font-family: var(--poppins);
        color: rgb(61, 61, 61);
        transition: .8s ease-in-out;
    }

    section.menu menu a:hover {
        color: rgb(32, 32, 32);
    }

    section#ingredientes aside.all div.cards div.card {
        width: 200px;
        height: 260px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
        border-radius: 20px;
        scale: 1;
        transition-duration: .6s;
        cursor: none;
    }

    section#ingredientes aside.all div.cards div.card:hover  {
        scale: 1.035;
    }
}



@media only screen and (min-width: 760px) and (max-width: 999px)  {

    * {
        cursor: none;
    }

    header nav {
        display: flex;
        gap: 15px;
    }

    header nav a {
        text-decoration: none;
        font-family: var(--poppins);
        font-weight: 600;
        color: rgb(61, 61, 61);
        transition-duration: .8s;
    }

    header nav a:hover {
        color: rgb(32, 32, 32);
    }

    header {
        background-color: #CCAA81;
        height: 40px;
        padding-block: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.277);
    }


    header section.responsive {
        display: none;
    }

    header menu {
        display: none;
    }

    section.menu {
        display: none;
    }

    section#ingredientes aside.all div.cards div.card {
        width: 200px;
        height: 260px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
        border-radius: 20px;
        scale: 1;
        transition-duration: .6s;
        cursor: none;
    }

    section#ingredientes aside.all div.cards div.card:hover  {
        scale: 1.035;
    }

}