@charset "UTF-8";

@media only screen and (max-width: 330px) {
    section.menu {
        width: 55vw;
    }

    section#bananapower section aside h1 {
        text-align: center;
    }

    section#bananapower section aside p {
        color: whitesmoke;
        font-size: 1.5em;
        max-width: 100%;
    }

    section#animationOne h1 {
        font-family: var(--poppins);
        font-weight: 600;
        font-size: 2rem;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.180);
        color: rgb(58, 58, 58);
        text-align: left;
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    section#sanduiches > h1 {
        display: block;
        font-family: var(--poppins);
        font-size: 2em;
        margin-left: 10px;
        color: rgb(235, 212, 181);
    }

    section#taylor aside.img {
        clear: both;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    section#taylor aside.img h1 {
        font-size: 2em;
        margin: 5px 0px;
    }

    section#taylor aside.conteudo {
        width: 100%;
        clear: both;
        display: block;
        height: 100vh;
        margin: auto;
        text-align: center;
    }

    section#taylor {
        height: 100vh;
        width: 100vw;
        display: block;
        background-color: #619c61;
        margin: auto;
    }

    section#romeu section.romeu {
        z-index: 3;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    section#romeu aside.img {
        z-index: 3;
        float: left;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    section#romeu aside.img h1 {
        font-size: 2.1em;
        margin-top: 30px;
    }

    section#romeu aside.img p {
        width: 100%;
        font-size: 1.2em;
        font-family: var(--poppins);
        font-weight: 600;
        color: #D1CEB8;
    }

    .fundo_sobremesa h3 {
        font-size: 2em;
        font-weight: 700;
        margin-left: 5vw;
        margin-bottom: 3vw;
        margin-top: 5vh;
        color: white;
    }

    h2.titulo_obremesas {
        font-size: 2.5em;
    }

    section.sobremesas_conteiner div.um {
        clear: both;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    section.sobremesas_conteiner div.dois {
        clear: both;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.sobremesas_conteiner {
        width: 90%;
        display: block;
        margin: auto;
    }

    section.menu menu ul {
        margin: 0;
        padding: 0;
        margin-left: -10px;
    }

    section#cafe aside.container {
        float: right;
        width: 60%;
        height: 100vh;
        font-family: var(--poppins);
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(201, 196, 196);
    }

    section#whey aside.container {
        clear: both;
        width: 90%;
        display: block;
        margin: auto;
    }

    section#whey aside.container h3 {
        font-family: var(--poppins);
        font-size: 1.2em;
        color: rgb(49, 47, 47);
        width: 100%;
        display: block;
        margin: auto;
    }

    section#leite {
        height: 100vh;
        background-color: #d8c8c2;
        z-index: 1;
        overflow: hidden;
        display: block;
        box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.321);
    }

    section#leite section.leite {
        clear: both;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    section#leite section.leite {
        clear: both;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    section#leite aside.container {
        clear: both;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section#leite aside.container h3 {
        clear: both;
        width: 100%;
        font-size: 1.3em;
    }

    section#leite section.leite aside.imgcontainer div.img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 600px) {

    * {
        cursor: initial;
    }

    /* header */

    header nav {
        display: none;
    }

    section#sobre {
        margin-top: -40px;
    }

    header section.responsive {
        width: 40px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 999;
    }

    header section.responsive hr {
        width: 80%;
        height: 2px;
        background-color: black;
        color: black;
        outline: none;
        border: none;
        transition-duration: .8s;
    }

    header section.responsive hr.b2 {
        transition-duration: .2s;
    }

    header section.responsive hr.b1active {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    header section.responsive hr.b2active {
        opacity: 0;
    }

    header section.responsive hr.b3active {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    header section.responsive aside {
        position: relative;
    }

    header section.responsive span.h1 {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* menu */

    section.menu {
        position: fixed;
        inset: 0;
        left: 100%;
        transition-duration: .6s;
        z-index: 888;
        background-color: #CCAA81;
        width: 40vw;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
        border-radius: 15px 0px 0px 15px;
    }


    section.menuactive {
        position: fixed;
        inset: 0;
        left: calc(100% - 40vw);
    }

    body {
        overflow-x: hidden;
    }

    section.menu menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: calc(50%);
    }

    section.menu menu a {
        text-decoration: none;
        font-family: var(--poppins);
        color: rgb(61, 61, 61);
        transition: .8s ease-in-out;
        font-weight: 600;
    }

    section.menu menu a:hover {
        color: rgb(32, 32, 32);
    }

    section#ingredientes aside.all div.cards div.card {
        width: 200px;
        height: 260px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
        border-radius: 20px;
        scale: 1;
        transition-duration: .6s;
        cursor: initial;
    }

    section#ingredientes aside.all div.cards div.card:hover {
        scale: 1.035;
    }

    section#ingredientes aside.all {
        text-align: left;
        margin: 0;
        padding: 0;
        text-indent: 0;
    }

    section#sobre section.apresentaçao aside.conteudo {
        clear: both;
        max-width: 100%;
        height: 100%;
        margin: auto;
        padding: 0px;
    }

    section#sobre section.apresentacao {
        background: #FAEADA;
        width: 100vw;
        padding-bottom: 35px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    section#sobre section.apresentaçao aside.img {
        clear: both;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    section#sobre section.apresentaçao aside.img img {
        border-radius: 20px;
        object-fit: cover;
        object-position: right center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.292);
        display: block;
        margin: auto;
    }

    section#sobre section.apresentaçao aside.conteudo h1 {
        font-size: 2.4em;
        margin-block: 5px;
    }

    section#sobre section.apresentaçao {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: normal;
        gap: 0;
    }

    section#sobre section.apresentaçao aside.conteudo {
        margin-top: 0;
    }

    section#sobre section.apresentaçao aside.img img {
        width: 90vw;
    }

    section#sobre section.apresentaçao aside.img h1 {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
        text-align: left;
        width: 90%;
        margin-block: 10px;
    }

    section#sobre section.apresentaçao aside.conteudo p {
        font-size: 1.7em;
        margin-block: 1px;
        width: 90vw;
        margin-bottom: 0;
    }

    section#ingredientes {
        height: min-content !important;
        padding-block-end: 30px;
    }

    /* leite */

    section#leite {
        padding-top: 15px;
    }

    section#leite section.leite {
        clear: both;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: min-content;
        width: 100%;
    }

    section#leite section.leite aside.imgcontainer {
        filter: grayscale(45%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section#leite section.leite aside.imgcontainer div.img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: min-content;
        width: 300px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.253);
        overflow: hidden;
        transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    section#leite section.leite aside.imgcontainer div.img img {
        display: block;
        margin: auto;
    }

    section#leite.visible section.leite aside.imgcontainer div.img {
        animation: pop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    }

    @keyframes pop {
        0% {
            scale: 1;
        }

        50% {
            scale: 1.1;
        }

        100% {
            scale: 1;
        }
    }

    section#whey {
        height: 100vh;
        width: 100%;
        background-color: #c9af7e4d;
        z-index: 1;
        overflow: hidden;
        box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
    }

    section#whey section.whey {
        clear: both;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        width: 100vw;
    }

    section#whey section.whey aside.imgcontainer div.img {
        background-image: url(../pictures/whey.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        scale: 0.8;
        margin: auto;
    }

    section#whey section.whey aside.imgcontainer {
        filter: grayscale(45%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    section#bananapower section aside p {
        color: whitesmoke;
        font-size: 2em;
        max-width: 100%;
    }

    section#animationOne h1 {
        font-family: var(--poppins);
        font-weight: 600;
        font-size: 2rem;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.180);
        color: rgb(58, 58, 58);
        text-align: left;
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    section#sanduiches > h1 {
        display: block;
        font-family: var(--poppins);
        font-size: 2em;
        margin-left: 10px;
        color: rgb(235, 212, 181);
    }

    section#taylor aside.img {
        clear: both;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    section#taylor aside.img h1 {
        font-size: 2em;
        margin: 5px 0px;
    }

    section#taylor aside.conteudo {
        width: 100%;
        clear: both;
        display: block;
        height: 100vh;
        margin: auto;
        text-align: center;
    }

    section#taylor {
        height: 100vh;
        width: 100vw;
        display: block;
        background-color: #619c61;
        margin: auto;
    }

    section#romeu section.romeu {
        z-index: 3;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    section#romeu aside.img {
        z-index: 3;
        float: left;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    section#romeu aside.img h1 {
        font-size: 2.1em;
        margin-top: 30px;
    }

    section#romeu aside.img p {
        width: 100%;
        font-size: 1.2em;
        font-family: var(--poppins);
        font-weight: 600;
        color: #D1CEB8;
    }

    section#taylor aside.img img {
        width: 60%;
    }
    
    .fundo_sobremesa h3 {
        font-size: 2em;
        font-weight: 700;
        margin-left: 5vw;
        margin-bottom: 3vw;
        margin-top: 5vh;
        color: white;
    }

    h2.titulo_obremesas {
        font-size: 2.5em;
    }

    section.sobremesas_conteiner div.um {
        clear: both;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    section.sobremesas_conteiner div.dois {
        clear: both;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.sobremesas_conteiner {
        width: 90%;
        display: block;
        margin: auto;
    }

    section.menu menu ul {
        margin: 0;
        padding: 0;
        margin-left: -10px;
    }

    section#sanduiches > h1 {
        display: block;
        width: 100%;
        font-family: var(--poppins);
        font-size: 2.5em;
        text-align: left;
        color: rgb(235, 212, 181);
    }

    .img_icecream {
        width: 66%;
        display: block;
        margin: auto;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.128);
    }

    section#cafe aside.container {
        float: right;
        width: 60%;
        height: 100vh;
        font-family: var(--poppins);
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(201, 196, 196);
    }

    section#cafe aside.container {
        float: right;
        width: 60%;
        height: 100vh;
        font-family: var(--poppins);
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(201, 196, 196);
    }

    section#whey aside.container {
        clear: both;
        width: 100%;
        display: block;
        margin: auto;
    }

    section#whey aside.container h3 {
        font-family: var(--poppins);
        font-size: 1.2em;
        color: rgb(49, 47, 47);
        width: 100%;
        display: block;
        margin: auto;
    }

    section#leite {
        height: 100vh;
        background-color: #d8c8c2;
        z-index: 1;
        overflow: hidden;
        display: block;
        box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.321);
    }

    section#leite section.leite {
        clear: both;
        display: block;
        height: min-content;
        width: 100%;
    }

    section#leite section.leite {
        clear: both;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    section#leite aside.container {
        clear: both;
        width: 90%;
        display: block;
        margin: auto;
    }

    section#leite aside.container h3 {
        clear: both;
        width: 100%;
        font-size: 1.3em;
    }

    section#leite section.leite aside.imgcontainer div.img {
        width: 200px;
        height: 200px;
    }

}

@media only screen and (min-width: 601px) and (max-width: 800px) {


    * {
        cursor: initial;
    }

    section#bananapower section aside p {
        color: whitesmoke;
        font-size: 1.5em;
        max-width: 100%;
    }
    
    section#sobre {
        margin-top: -30px;
    }

    /* header */


    header section.responsive {
        width: 40px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 999;
    }

    header section.responsive hr {
        width: 80%;
        height: 2px;
        background-color: black;
        color: black;
        outline: none;
        border: none;
        transition-duration: .8s;
    }

    header section.responsive hr.b2 {
        transition-duration: .2s;
    }

    header section.responsive hr.b1active {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    header section.responsive hr.b2active {
        opacity: 0;
    }

    header section.responsive hr.b3active {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    header section.responsive aside {
        position: relative;
    }

    header section.responsive span.h1 {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* menu */

    section.menu {
        position: fixed;
        inset: 0;
        left: 100%;
        transition-duration: .6s;
        z-index: 888;
        background-color: #CCAA81;
        width: 25vw;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
        border-radius: 15px 0px 0px 15px;
    }


    section.menuactive {
        position: fixed;
        inset: 0;
        left: calc(100% - 25vw);
    }

    body {
        overflow-x: hidden;
    }

    section.menu menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: calc(20%);
        position: absolute;
        top: 5%;
    }

    section.menu menu a {
        text-decoration: none;
        font-family: var(--poppins);
        color: rgb(61, 61, 61);
        transition: .8s ease-in-out;
        font-weight: 600;
        font-size: 1.1em;
    }

    section.menu menu a:hover {
        color: rgb(32, 32, 32);
    }

    section#ingredientes aside.all div.cards div.card {
        width: 200px;
        height: 260px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
        border-radius: 20px;
        scale: 1;
        transition-duration: .6s;
        cursor: initial;
    }

    section#ingredientes aside.all div.cards div.card:hover {
        scale: 1.035;
    }

    section#ingredientes aside.all {
        text-align: left;
        margin: 0;
        padding: 0;
        text-indent: 0;
    }

    section#sobre section.apresentaçao aside.conteudo {
        clear: both;
        max-width: 100%;
        height: 100%;
        margin: auto;
        padding: 0px;
    }

    section#sobre section.apresentacao {
        background: #FAEADA;
        width: 100vw;
        padding-bottom: 35px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    section#sobre section.apresentaçao aside.img {
        clear: both;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    section#sobre section.apresentaçao aside.img img {
        border-radius: 20px;
        object-fit: cover;
        object-position: right center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.292);
        display: block;
        margin: auto;
        width: 90vw;
    }

    section#sobre section.apresentaçao aside.conteudo h1 {
        font-size: 2.4em;
        margin-block: 5px;
    }

    section#sobre section.apresentaçao {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: normal;
        gap: 0;
    }

    section#sobre section.apresentaçao aside.conteudo {
        margin-top: 0;
    }

    section#sobre section.apresentaçao aside.img h1 {
        margin-left: 5%;
        margin-block: 15px;
        text-align: left;
    }

    section#sobre section.apresentaçao aside.conteudo p {
        font-size: 1.7em;
        margin-block: 1px;
        width: 90%;
        margin-bottom: 0;
    }

    section#sobre section.apresentaçao aside.conteudo {
        clear: both;
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 35px;
    }

    section#ingredientes {
        height: max-content !important;
    }

    section#cafe div.coffee div.img {
        height: 100%;
    }

     /* leite */

     section#leite section.leite {
        clear: both;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: min-content;
        width: 100%;
        margin-top: 15px;
    }

    section#leite section.leite aside.imgcontainer {
        filter: grayscale(45%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section#leite section.leite aside.imgcontainer div.img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: min-content;
        width: 300px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.253);
        overflow: hidden;
        transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    section#leite section.leite aside.imgcontainer div.img img {
        display: block;
        margin: auto;
    }

    section#leite.visible section.leite aside.imgcontainer div.img {
        animation: pop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    }

    @keyframes pop {
        0% {
            scale: 1;
        }

        50% {
            scale: 1.1;
        }

        100% {
            scale: 1;
        }
    }

    /* whey */

    
    section#whey {
        height: 100vh;
        width: 100%;
        background-color: #c9af7e4d;
        z-index: 1;
        overflow: hidden;
        box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
    }

    section#whey section.whey {
        clear: both;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        width: 100vw;
    }

    section#whey section.whey aside.imgcontainer div.img {
        background-image: url(../pictures/whey.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        scale: 0.8;
        margin: auto;
    }

    section#whey section.whey aside.imgcontainer {
        filter: grayscale(45%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section#animationOne h1 {
        font-family: var(--poppins);
        font-weight: 600;
        font-size: 2rem;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.180);
        color: rgb(58, 58, 58);
        text-align: left;
        display: flex;
        width: 90%;
        justify-content: flex-start;
    }

    section#romeu aside.img p {
        width: 80%;
        font-size: 1.2em;
        font-family: var(--poppins);
        font-weight: 600;
        color: #D1CEB8;
    }

    section#taylor aside.img h1 {
        font-size: 2.4em;
    }

    section#taylor aside.conteudo {
        height: 80%;
    }

    section#sanduiches > h1 {
        display: block;
        width: 100%;
        font-family: var(--poppins);
        font-size: 2.5em;
        text-align: left;
        color: rgb(235, 212, 181);
        margin-left: 10px;
    }

    .img_icecream {
        width: 66%;
        display: block;
        margin: auto;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.128);
    }

    section#cafe aside.container {
        float: right;
        width: 60%;
        height: 100vh;
        font-family: var(--poppins);
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(201, 196, 196);
    }

    section#whey aside.container {
        clear: both;
        width: 100%;
        display: block;
        margin: auto;
    }

    section#whey aside.container h3 {
        font-family: var(--poppins);
        font-size: 1.2em;
        color: rgb(49, 47, 47);
        width: 100%;
        display: block;
        margin: auto;
    }

    section#leite {
        height: 100vh;
        background-color: #d8c8c2;
        z-index: 1;
        overflow: hidden;
        display: block;
        box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.321);
    }

    section#leite section.leite {
        clear: both;
        display: block;
        height: min-content;
        width: 100%;
    }

    section#leite section.leite {
        clear: both;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    section#leite aside.container {
        clear: both;
        width: 90%;
        display: block;
        margin: auto;
    }

    section#leite aside.container h3 {
        clear: both;
        width: 100%;
        font-size: 1.3em;
    }

    section#leite section.leite aside.imgcontainer div.img {
        width: 200px;
        height: 200px;
    }

}

@media only screen and (min-width: 800px) and (max-width: 999px) {
    * {
        cursor: initial;
    }

    section#sobre {
        margin-top: -30px;
    }

    /* header */

    header nav {
        display: none;
    }

    header section.responsive {
        width: 40px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 999;
    }

    header section.responsive hr {
        width: 80%;
        height: 2px;
        background-color: black;
        color: black;
        outline: none;
        border: none;
        transition-duration: .8s;
    }

    header section.responsive hr.b2 {
        transition-duration: .2s;
    }

    header section.responsive hr.b1active {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    header section.responsive hr.b2active {
        opacity: 0;
    }

    header section.responsive hr.b3active {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    header section.responsive aside {
        position: relative;
    }

    header section.responsive span.h1 {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* menu */

    section.menu {
        position: fixed;
        inset: 0;
        left: 100%;
        transition-duration: .6s;
        z-index: 888;
        background-color: #CCAA81;
        width: 25vw;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
        border-radius: 15px 0px 0px 15px;
    }


    section.menuactive {
        position: fixed;
        inset: 0;
        left: calc(100% - 25vw);
    }

    body {
        overflow-x: hidden;
    }

    section.menu menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: calc(20%);
    }

    section.menu menu a {
        text-decoration: none;
        font-family: var(--poppins);
        color: rgb(61, 61, 61);
        font-weight: 600;
        transition: .8s ease-in-out;
    }

    section.menu menu a:hover {
        color: rgb(32, 32, 32);
    }

    
    section#sobre section.apresentaçao aside.conteudo {
        clear: both;
        max-width: 100%;
        height: 100%;
        margin: auto;
        padding: 0px;
    }

    section#sobre section.apresentacao {
        background: #FAEADA;
        width: 100vw;
        padding-bottom: 35px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    section#sobre section.apresentaçao aside.img img {
        border-radius: 20px;
        object-fit: cover;
        object-position: right center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.292);
        display: block;
        margin: auto;
    }

    section#sobre section.apresentaçao aside.conteudo h1 {
        font-size: 2.4em;
        margin-block: 5px;
    }

    section#sobre section.apresentaçao {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: normal;
        gap: 0;
    }

    section#sobre section.apresentaçao aside.conteudo {
        margin-top: 0;
    }

    section#sobre section.apresentaçao aside.img img {
        width: 80vw;
        display: block;
        margin: auto;
    }

    section#sobre section.apresentaçao aside.img h1 {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
        text-align: left;
        width: 81.5%;
        margin-block: 10px;
    }

    section#sobre section.apresentaçao aside.conteudo p {
        font-size: 1.7em;
        margin-block: 1px;
        width: 90vw;
        margin-bottom: 0;
    }

    section#sobre section.apresentaçao aside.conteudo {
        clear: both;
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
    }

    section#sobre section.apresentaçao aside.img {
        clear: both;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section#sobre section.apresentaçao aside.img img {
        border-radius: 20px;
        object-fit: cover;
        object-position: right center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.292);
    }

    section#animationOne h1 {
        font-family: var(--poppins);
        font-weight: 600;
        font-size: 2rem;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.180);
        color: rgb(58, 58, 58);
        text-align: left;
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    section#taylor {
        height: 100vh;
        width: 100vw;
        display: flex;
        background-color: #619c61;
        align-items: center;
        overflow: hidden;
    }

    section#taylor aside.img {
        float: left;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section#taylor aside.img h1 {
        font-family: var(--poppins);
        margin-bottom: 10px;
        margin: 0;
        font-size: 3rem;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.287);
        color: #FFFFE0;
    }

    section#taylor aside.img img {
        width: 80%;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.361);
    }

    section#taylor aside.conteudo {
        width: 50%;
        float: right;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    section#taylor aside.conteudo h1 {
        margin: 0;
        margin-bottom: 5px;
        font-size: 2.5rem;
        font-family: var(--poppins);
        color: #f7d551;
        text-transform: uppercase;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.247);
    }

    section#taylor aside.conteudo p {
        color: rgb(204, 67, 42);
        font-family: var(--poppins);
        font-weight: 600;
        text-align: center;
        font-size: 1.5em;
        margin: 0;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.125);
    }

    section#romeu aside.img p {
        width: 80%;
        font-size: 1.2em;
        font-family: var(--poppins);
        font-weight: 600;
        color: #D1CEB8;
    }


}