@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    user-select: none;
    -webkit-user-drag: none;
    scroll-behavior: smooth;
}

@layer loading {
    div#load {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        opacity: 1;
        transition: 1s ease-in-out;
    }

    div#load div.loading {
        border: 15px solid #CCAA81;
        border-top-color: #705c43;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.129);
        border-radius: 50%;
        width: 95px;
        height: 95px;
        z-index: 99999;
        animation: loading 1s ease-in-out infinite;
    }

    div#load h1 {
        font-family: var(--poppins);
        color: rgb(32, 32, 32);
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.216);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
    }

    div#load h1 span.um {
        position: absolute;
        bottom: 0;
        left: 105%;
        transform: translateX(-50%);
        animation: point 1s ease-in-out infinite;
        animation-delay: 0;
    }

    div#load h1 span.dois {
        position: absolute;
        bottom: 0;
        left: 110%;
        transform: translateX(-50%);
        animation: point 1s ease-in-out infinite;
        animation-delay: .26s;
    }

    div#load h1 span.tres {
        position: absolute;
        bottom: 0;
        left: 115%;
        transform: translateX(-50%);
        animation: point 1s ease-in-out infinite;
        animation-delay: .48s;
    }

    @keyframes point {
        0% {
            translate: 0 0;
            bottom: 0%;
        }

        50% {
            translate: 0 -10px;
            bottom: 5%;
        }

        100% {
            translate: 0 0;
            bottom: 0%;
        }
    }

    @keyframes loading {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    section.time {
        display: none;
        opacity: 0;
        transition: 1s ease-in-out;
    }
}

@layer reset {

    body,
    html {
        margin: 0;
        padding: 0;
    }
}

@layer config {
    body {
        background-color: #ecd7bc;
    }
}

@layer variaveis {

    :root {
        --poppins: Poppins;
        --fontedois: 'Crimson Text';
        --roboto: Roboto;
    }
}

@layer menu {

    section.menu menu a.ingredientes {
        display: flex;
        align-items: center;
        margin-left: -25px;
        gap: 0px;
    }

    section.menu menu a.ingredientes span {
        font-size: 1em;
        transform: rotate(0deg);
        transition: .8s ease-in-out;
    }

    section.menu menu a.ingredientes:hover span {
        transform: rotate(180deg);
    }

    section.menu menu ul {
        display: none;
        margin: 0;
        list-style-type: none;
        font-family: var(--poppins);
        font-weight: 500;
    }

    section.menu menu ul {
        display: none;
    }

    section.menu menu ul li {
        color: rgb(61, 61, 61);
        opacity: 0;
        translate: -35px -15px;
        transition: .6s ease-in-out;
    }

    section.menu menu ul li {
        opacity: 1;
        translate: 0 0;
        animation: .8s ease-in-out forwards;
    }

    section.menu menu ul li:hover {
        color: rgb(32, 32, 32);
    }

    @keyframes translate {
        from {
            opacity: 0;
            translate: -35px -15px;
        }

        to {
            opacity: 1;
            translate: 0 0;
        }
    }
}

@layer vitaminas {
    @layer chumbadão {
        @layer header {

            @layer headerConfig {
                header {
                    display: flex;
                    justify-content: flex-end;
                    padding: 5px 10px;
                    background-color: #ecd7bc;
                }
            }

            @layer responsive {


                @media only screen and (min-width: 1000px) {

                    header {
                        display: none;
                    }


                    header section.responsive {
                        display: none;
                    }

                    header menu {
                        display: none;
                    }

                    section.menu {
                        display: none;
                    }

                    section#sobre section.apresentaçao aside.img {
                        float: left;
                        max-width: 45%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 35px;
                    }
                }

            }

        }

        @layer main {

            @layer config {
                main {
                    overflow-x: hidden;
                    height: max-content;
                    z-index: 5;
                }

            }

            @layer sobre {



                section#sobre {
                    display: flex;
                    overflow-x: hidden;
                    flex-direction: column;
                    min-height: 100vh;
                    max-height: min-content;
                    background: transparent;
                    position: relative;
                    margin-top: -50px;
                }

                section#animationOne h1 {
                    font-family: var(--poppins);
                    font-weight: 600;
                    font-size: 2rem;
                    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.180);
                    color: rgb(58, 58, 58);
                    text-align: left;
                    display: flex;
                    width: 80%;
                    justify-content: flex-start;
                }

                section#sobre p {
                    font-weight: bolder;
                    font-size: 30px;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    width: 90%;
                    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.180);
                    color: rgb(61, 60, 60);
                }

                section#sobre section.apresentaçao {
                    width: 100%;
                    padding-bottom: 35px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 25px;
                }

                section#sobre section.apresentaçao aside.img h1 {
                    margin-bottom: calc(100% - 93%);
                }

                section#sobre section.apresentaçao aside.img img {
                    border-radius: 20px;
                    object-fit: cover;
                    object-position: right center;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.292);
                }


                section#sobre section.apresentaçao aside.img {
                    margin-bottom: 15px;
                    float: left;
                }

                section#sobre section.apresentaçao aside.conteudo {
                    float: right;
                    max-width: 45%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                section#sobre section.apresentaçao aside.conteudo p {
                    width: 80%;
                    font-size: 1.6em;
                    margin-block: 1px;
                }

                section#sobre section.apresentaçao aside.conteudo h1 {
                    font-size: 2.4em;
                    margin-block: 5px;
                }

                @layer animações {
                    @layer h1 {

                        @layer primeiro {
                            section#sobre section.apresentaçao aside.img h1 {
                                transform: translateX(-100vw);
                                transition: .6s ease-in-out;
                            }

                            section#sobre section.visible aside.img h1 {
                                transform: translateX(0vw);
                            }
                        }

                        @layer segundo {
                            section#sobre section.apresentaçao aside.conteudo h1 {
                                opacity: 0;
                                transform: translateY(45%);
                                transition: 4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                            }

                            section#sobre section.visible aside.conteudo h1 {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }

                        @layer img {
                            section#sobre section.apresentaçao aside.img img {
                                opacity: 0;
                                transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                            }

                            section#sobre section.visible aside.img img {
                                opacity: 1;
                            }
                        }

                    }

                    @layer p {
                        section#sobre section.apresentaçao aside.conteudo p {
                            font-family: var(--fontedois);
                            transform: translateX(100vw);
                            transition: .6s ease-in-out;
                        }

                        section#sobre section.visible aside.conteudo p {
                            transform: translateX(0vw);
                        }
                    }
                }
            }


            @layer cafe {
                section#cafe {
                    min-height: 100vh;
                    background-color: rgb(36, 36, 36);
                    z-index: 1;
                    overflow: hidden;
                    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.35), 0px -5px 25px rgba(0, 0, 0, 0.35);
                }

                section#cafe aside.container {
                    float: right;
                    width: 50%;
                    height: 100vh;
                    font-family: var(--poppins);
                    font-size: 2em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: rgb(201, 196, 196);
                }


                section#cafe div.coffee {
                    height: 120vh;
                    width: 25%;
                    float: left;
                    margin-left: 35px;
                    z-index: 2;
                }



                section#cafe div.coffee div.img {
                    width: 100%;
                    height: 300%;
                    background-image: url(../pictures/cafe.png);
                    background-size: contain;
                    background-repeat: repeat-y;
                    z-index: 4;
                    translate: 0;
                    translate: 0 4%;
                    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }

                section#cafe+div.lido {
                    background-color: transparent;
                }

            }


            @layer leite {
                section#leite {
                    height: 110vh;
                    background-color: #d8c8c2;
                    z-index: 1;
                    overflow: hidden;
                    display: flex;
                    justify-content: space-around;
                    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.321);
                }

                section#leite section.leite {
                    float: left;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    width: 40%;
                }

                section#leite section.leite aside.imgcontainer {
                    filter: grayscale(45%);
                }

                section#leite section.leite aside.imgcontainer div.img {
                    width: 300px;
                    height: 300px;
                    border-radius: 20px;
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.253);
                    overflow: hidden;
                    transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }

                section#leite.visible section.leite aside.imgcontainer div.img {
                    animation: pop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
                }

                @keyframes pop {
                    0% {
                        scale: 1;
                    }

                    50% {
                        scale: 1.3;
                    }

                    100% {
                        scale: 1;
                    }
                }

                section#leite section.leite {
                    float: left;
                    width: 50%;
                    display: flex;
                    justify-content: center;
                }

                section#leite section.leite aside.imgcontainer img {
                    width: 100%;
                    scale: 1;
                    transition: .8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                }

                section#leite section.leite aside.imgcontainer:hover img {
                    scale: 1.2;
                }

                section#leite section.leite aside.imgcontainer div.img:hover {
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.343);
                }

                section#leite aside.container {
                    float: right;
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                section#leite aside.container h3 {
                    font-family: var(--poppins);
                    font-size: 1.8em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: rgb(49, 47, 47);
                }

            }

            @layer whey {
                section#whey {
                    height: 100vh;
                    background-color: #c9af7e4d;
                    z-index: 1;
                    overflow: hidden;
                    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.15);
                }

                section#whey section.whey {
                    float: left;
                    display: flex;
                    align-items: center;
                    height: 100vh;
                    width: 40%;
                }

                section#whey section.whey aside.imgcontainer div.img {
                    background-image: url(../pictures/whey.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-position-y: center;
                    width: 100%;
                    height: 100%;
                    background-attachment: fixed;
                    scale: 0.8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                section#whey section.whey aside.imgcontainer {
                    filter: grayscale(45%);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                section#whey aside.container {
                    float: right;
                    width: 50%;
                    height: 80vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                section#whey aside.container h3 {
                    font-family: var(--poppins);
                    font-size: 1.8em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: rgb(49, 47, 47);
                }

            }
        }

    }

    @layer bananaPower {

        section#bananapower {
            height: 100vh;
            background-color: #c2a594;
            margin: auto;
            background-image: url(../pictures/vitaminas/bananaPower.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
            position: relative;
            background-position: 50% 25%;
            background-attachment: fixed;
        }

        section#bananapower::before {
            content: '';
            display: block;
            height: 100%;
            z-index: 1;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.346);
            position: absolute;
            inset: 0;
        }

        section#bananapower h1 {
            font-family: var(--poppins);
            color: whitesmoke;
            font-size: 2.5em;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        section#bananapower section aside p {
            color: whitesmoke;
            font-size: 2em;
            max-width: 40%;
        }

        section#bananapower>section {
            max-width: 95%;
            margin: auto;
            padding-top: 5px;
            z-index: 3;
            position: relative;
        }
    }
}

@layer sucos {
    section#sucos {
        background-color: rgba(105, 57, 105, 0.678);
    }

    section#sucos .contener_title {
        text-align: center;
        margin-bottom: 30px;
    }

    section#sucos .titulo_sucos {
        font-family: var(--poppins);
        color: rgb(61, 61, 61);
        font-size: 2.5em;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.216);
    }

    section#sucos .suco {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }

    section#sucos .suco div.dois {
        width: 45%;
    }

    section#sucos .suco h3 {
        font-family: var(--poppins);
        color: rgb(61, 61, 61);
        font-size: 3em;
        margin-bottom: 10px;
    }

    section#sucos .suco>aside {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
    }

    section#sucos .suco.strangedrink>aside div.um {
        float: left;
        width: 50%;
    }

    section#sucos .suco.strangedrink>aside div.dois {
        float: right;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section#sucos .suco>aside div.dois img {
        width: 70%;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    }

    section#sucos .suco p.info_paragaph {
        color: rgb(61, 61, 61);
        font-size: 1.6em;
        margin-block: 1px;
        font-family: var(--roboto);
    }

    section#sucos .relaxdrink {
        background-color: #70C3D5;
    }

    section#sucos .suco.relaxdrink>aside div.um {
        float: left;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section#sucos .suco.relaxdrink>aside div.um img {
        width: 80%;
    }

    section#sucos .suco.relaxdrink>aside div.dois {
        float: right;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


}

@layer sanduiches {

    @layer config {
        section#sanduiches {
            background-color: rgb(95, 78, 58);
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            overflow-x: hidden;
        }

        section#sanduiches>h1 {
            display: flex;
            width: 28%;
            font-family: var(--poppins);
            font-size: 3em;
            justify-content: flex-end;
            color: rgb(235, 212, 181);
        }
    }

    @layer taylor {
        section#taylor {
            height: 100vh;
            width: 100vw;
            display: flex;
            background-color: #619c61;
            align-items: center;
            overflow: hidden;
        }

        section#taylor aside.img {
            float: left;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        section#taylor aside.img h1 {
            font-family: var(--poppins);
            margin-bottom: 10px;
            margin: 0;
            font-size: 3rem;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.287);
            color: #FFFFE0;
        }

        section#taylor aside.img img {
            width: 80%;
            border-radius: 15px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.361);
        }

        section#taylor aside.conteudo {
            width: 50%;
            float: right;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        section#taylor aside.conteudo h1 {
            margin: 0;
            margin-bottom: 5px;
            font-size: 2.5rem;
            font-family: var(--poppins);
            color: #f7d551;
            text-transform: uppercase;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.247);
        }

        section#taylor aside.conteudo p {
            color: whitesmoke;
            font-family: var(--poppins);
            font-weight: 600;
            text-align: center;
            font-size: 1.5em;
            margin: 0;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.125);
        }
    }

    @layer Romeu_e_Julieta {
        section#romeu {
            height: 100vh;
            width: 100vw;
            display: flex;
            background-color: transparent;
            overflow: hidden;
            background-image: url(../pictures/sanduiches/romeu\ e\ julieta.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left center;
            background-attachment: fixed;
            position: relative;
            z-index: 1;
        }

        section#romeu::before {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.590);
        }

        section#romeu section.romeu {
            z-index: 3;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
        }

        section#romeu aside.img {
            z-index: 3;
            float: left;
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        section#romeu aside.img h1 {
            font-family: var(--poppins);
            margin-bottom: 10px;
            margin: 0;
            font-size: 3rem;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.287);
            color: #FFFFE0;
        }

        section#romeu aside.img p {
            width: 50%;
            font-size: 1.5em;
            font-family: var(--poppins);
            font-weight: 600;
            color: #D1CEB8;
        }
    }

}

@layer footer {
    footer {
        background: #816757;
    }

    footer p {
        margin: 0;
        color: whitesmoke;
        font-family: var(--poppins);
        font-weight: 500;
        text-align: center;
    }

    footer p a {
        text-decoration: none;
        color: rgb(41, 40, 40);
        font-weight: bolder;
    }
}

@layer open {
    div.open {
        position: absolute;
        bottom: 1.5%;
        left: 2.5%;
        width: max-content;
        display: flex;
        align-items: center;
        transition: 1s ease-in-out;
    }

    div.open .gg-chevron-double-down {
        color: rgb(61, 61, 61);
        margin-top: -5px;
        translate: 0 -2px;
        animation: seta 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    }


    @keyframes seta {
        0% {
            translate: 0 -2px;
        }

        50% {
            translate: 0 2px;
        }

        100% {
            translate: 0 -2px;
        }
    }

    div.open p {
        position: relative;
        display: flex;
        align-items: center;
        font-size: .8em;
        margin: 0;
        gap: 20px;
        text-wrap: nowrap;
        font-family: var(--poppins);
        cursor: pointer;
    }

    section#chumbado {
        display: none;
        opacity: 0;
        transition: 1.5s cubic-bezier(0.175, 0.885, 0.32, 1);
    }

}

@layer close {
    section#whey {
        position: relative;
    }

    div.close {
        position: absolute;
        bottom: 1.5%;
        left: 2.5%;
        width: max-content;
        display: flex;
        align-items: center;
        transition: 1s ease-in-out;
    }

    div.close .gg-chevron-double-down {
        color: rgb(61, 61, 61);
        margin-top: -5px;
        translate: 0 -2px;
        rotate: 180deg;
        animation: seta 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    }


    @keyframes seta {
        0% {
            translate: 0 -2px;
        }

        50% {
            translate: 0 2px;
        }

        100% {
            translate: 0 -2px;
        }
    }

    div.close p {
        position: relative;
        display: flex;
        align-items: center;
        font-size: .8em;
        margin: 0;
        gap: 20px;
        font-weight: bolder;
        text-wrap: nowrap;
        font-family: var(--poppins);
        cursor: pointer;
        color: rgb(61, 60, 60);
    }

    section#chumbado {
        display: none;
        opacity: 0;
        transition: 1.5s cubic-bezier(0.175, 0.885, 0.32, 1);
    }

}

@layer return {
    div.back {
        height: 60px;
        width: 60px;
        background-color: #e6b982;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 2%;
        right: 2.5%;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.147);
        animation: opacity 1s ease-in-out forwards;
        animation-timeline: scroll();
        opacity: 0;
        animation-range: cover 4% 20%;
        cursor: pointer;
        transition-duration: .4s;
        z-index: 666;
    }

    div.back span {
        font-size: 1em;
        scale: 1 1;
        transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    div.back:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
    }

    div.back:hover span {
        scale: 1 1.4;
    }

    @keyframes opacity {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

@layer lido {
    div.lido {
        background-color: #ddaa77;
        height: 15px;
        position: fixed;
        inset: 0;
        transform-origin: left;
        scale: 0 1;
        box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.247);
        z-index: 999;
        animation: lido 1s ease-in-out;
        animation-timeline: scroll();
        animation-range: cover 0% 100%;
        transition-duration: 1s;
    }

    @keyframes lido {
        from {
            scale: 0 1;
        }

        to {
            scale: 1 1;
        }
    }

}